

@using BlazorToolBoxLib.Services.YoloHelper

@namespace BlazorToolBoxLib.RazorComponents.DrawingCanvas


<h3>BoundingBoxes</h3>

<br />

@if (_imageDataUrl is not null)
{
    <img src="@_imageDataUrl" />
}

@*--- Button ---*@
<div class="row mt-2">
    <div class="col-md-4">
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="SaveImage">Save Image</button>
        </div>
    </div>
</div>
@*--- Button ---*@

@* ==================================================================================== *@

@code {
    BoundingBoxes boundingBoxes = new BoundingBoxes();

    private string? _imageDataUrl = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        boundingBoxes.DrawBoundingBoxes();
    }

    private async Task SaveImage()
    {
        boundingBoxes.SaveImage();
        _imageDataUrl = boundingBoxes.ImageDataUrl;
        await InvokeAsync(StateHasChanged);
    }
}






