@using BlazorToolBoxLib.Services.Notifications.ImageUpload
@using BlazorToolBoxLib.Services.YoloHelper
@inject IImageUploadNotify notify
@implements IDisposable

@namespace BlazorToolBoxLib.RazorComponents.DrawingCanvas


<h3>BoundingBoxes</h3>

<br />

@if (_imageDataUrl is not null)
{
    <img src="@_imageDataUrl" />
}

@*--- Button ---*@
<div class="row mt-2">
    <div class="col-md-4">
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="SaveImage">Save Image</button>
        </div>
    </div>
</div>
@*--- Button ---*@

@if (_test is not null)
{
    <h5>@_test</h5>
}

@* ==================================================================================== *@

@code {
    BoundingBoxes boundingBoxes = new BoundingBoxes();

    private string? _imageDataUrl = null;

    private string? _test = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        boundingBoxes.DrawBoundingBoxes();
        notify.OnImageUpload += OnImageUpload;
    }

    private async Task SaveImage()
    {
        boundingBoxes.SaveImage();
        _imageDataUrl = boundingBoxes.ImageDataUrl;
        await InvokeAsync(StateHasChanged);
    }

    private void OnImageUpload()
    {
        _test = notify.ImageUrl;
        StateHasChanged();
    }

    public void Dispose()
    {
        notify.OnImageUpload -= OnImageUpload;
    }
}






