@using BlazorToolBoxLib.RazorComponents.ImageUploadYolo
@using BlazorToolBoxLib.RazorComponents.DrawingCanvas

@page "/test"

<PageTitle>Test</PageTitle>

<h1>Image Upload</h1>


@* <ImageUploadYoloComponent></ImageUploadYoloComponent> *@
<DrawingCanvasComponent></DrawingCanvasComponent>