@using BlazorToolBoxLib.RazorComponents.ImageAnnotationComponent
@using BlazorToolBoxLib.RazorComponents.ImageUpload

@page "/test"

<PageTitle>Test</PageTitle>

<h1>Image Upload</h1>


<ImageUploadComponent></ImageUploadComponent>

<ImageAnnotationComponent></ImageAnnotationComponent>